# Assignment 1 - Python Basics

Q1. Split this string
s = "Hi there Class!"
into a list.

In [1]:
s = "Hi there Class!"
li = list(s.split(" "))
print(li)

['Hi', 'there', 'Class!']

Q2. Given the variables
planet = "Earth"
diameter = 12742

Use .format() to print the following string:
The diameter of Earth is 12742 kilometers.

In [2]:
planet = "Earth"
diameter = 12742
sent = 'The diameter of {} is {} kilometers.'.format(planet,diameter)
print(sent)

The diameter of Earth is 12742 kilometers.

Q3. Given this nested list, use indexing to grab the word "hello"

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [3]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
grab = lst [3] [1] [2] [0]
print(grab)

hello

Q4. Given this nested dictionary grab the word "hello".

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [4]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
grab = d['k1'][3]['tricky'][3]['target'][3]
print(grab)

hello

Q5. Create a function that grabs the email website domain from a string in the form:

user@domain.com

In [5]:
def func(email):
    return email.split('@')[-1]

func('user@domain.com')

'domain.com'

Q6. Create a basic function that returns True if the word 'dog' is contained in the input string.

In [6]:
def find(string):
  return 'dog' in string.split(" ")

string = "Who let the dog out?"
find(string)

True

Q7. Create a function that counts the number of times the word "dog" occurs in a string.

In [7]:
def count(st):
    c = 0
    for word in st.lower().split():
        if word == 'dog':
            c += 1
    return c
count('Who let the dog out? The dog was not tamed.')

2

Q8. Use lambda expressions and the filter() function to filter out words from a list that don't start with the 
letter 's'. 

For example: seq = ['soup','dog','salad','cat','great']

In [8]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

Q9. You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No Challan", "Small Challan", or "Heavy Challan". If your speed is 60 or less, the result is "No Challan". If speed is between 61 and 80 inclusive, the result is "Small Challan". If speed is 81 or more, the result is "Heavy Challan". Unless it is your birthday (encoded as a Boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

caught_speeding(81,True)

caught_speeding(81,False)

In [9]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speedf = speed - 5
    else:
        speedf = speed
    
    if speedf > 80:
        return 'Heavy Challan'
    elif speedf > 60:
        return 'Small Challan'
    else:
        return 'No Challan'

In [10]:
caught_speeding(81,False)

'Heavy Challan'

In [11]:
caught_speeding(81,True)

'Small Challan'

Q10. Concatenate two lists index-wise

list1 = ["M", "na", "i", "She"] 

list2 = ["y", "me", "s", "lly"]

Expected Outcome: ['My', 'name', 'is', 'Shelly']

In [12]:
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Shelly']

Q11. Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [13]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
listf=[]
for i in list1:
  for j in list2:
    listf.append(i+j)
print(listf)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Q12. Add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [15]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Q13. Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

In [16]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
  list1.remove(20)
print(list1)

[5, 15, 25, 50]

Q14. Check if a value 200 exists in a dictionary

d1 = {'a': 100, 'b': 200, 'c': 300}

In [17]:
d1 = {'a': 100, 'b': 200, 'c': 300}
if 200 in d1.values():
  print('True')
else:
  print('False')

True

Q15. Find the sum of the series 2 +22 + 222 + 2222 + .. n term

In [18]:
n=int(input("Enter the value of n "))
print((2/81)*(10*(pow(10,n)-1)-(9*n)))

Enter the value of n 5
24690.0