# Assignment 10 - ID3

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score,recall_score,precision_score,r2_score
df = pd.read_csv("https://www.cs.carleton.edu/faculty/dmusican/cs321s12/titanic2.txt",skiprows=[0,1],sep = "\t",  names = ['pclass','age', 'sex','survived'])
df

     pclass    age     sex survived
0       1st  adult    male      yes
1       1st  adult    male      yes
2       1st  adult    male      yes
3       1st  adult    male      yes
4       1st  adult    male      yes
...     ...    ...     ...      ...
2195   crew  adult  female      yes
2196   crew  adult  female      yes
2197   crew  adult  female       no
2198   crew  adult  female       no
2199   crew  adult  female       no

[2200 rows x 4 columns]

In [ ]:
df = df.replace({'survived': {'yes': 1, 'no': 0}})
df

     pclass    age     sex  survived
0       1st  adult    male         1
1       1st  adult    male         1
2       1st  adult    male         1
3       1st  adult    male         1
4       1st  adult    male         1
...     ...    ...     ...       ...
2195   crew  adult  female         1
2196   crew  adult  female         1
2197   crew  adult  female         0
2198   crew  adult  female         0
2199   crew  adult  female         0

[2200 rows x 4 columns]

In [ ]:
print(df['pclass'].unique())
print(df['sex'].unique())

['1st' '2nd' '3rd' 'crew']
['male' 'female']

In [ ]:
# Import label encoder
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['pclass'] = label_encoder.fit_transform(df['pclass'])
df['age'] = label_encoder.fit_transform(df['age'])
df['sex'] = label_encoder.fit_transform(df['sex'])

In [ ]:
df

      pclass  age  sex  survived
0          0    0    1         1
1          0    0    1         1
2          0    0    1         1
3          0    0    1         1
4          0    0    1         1
...      ...  ...  ...       ...
2195       3    0    0         1
2196       3    0    0         1
2197       3    0    0         0
2198       3    0    0         0
2199       3    0    0         0

[2200 rows x 4 columns]

In [ ]:
# Import Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [ ]:
feature_cols = ['pclass', 'age', 'sex']
X = df[feature_cols] # Features
Y = df.survived # Target variable

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=11)

In [ ]:
model = DecisionTreeClassifier().fit(X_train,y_train)
#Predict the test dataset
y_pred = model.predict(X_test)

In [ ]:
y_pred2 = model.predict(X_train)

In [ ]:
confusion_matrix(y_test,y_pred)

array([[426,   6],
       [140,  88]])

In [ ]:
confusion_matrix(y_train,y_pred2)

array([[1044,   14],
       [ 300,  182]])

In [ ]:
#accuracy of testing sample
accuracy_score(y_test,y_pred)

0.7787878787878788

In [ ]:
#recall of testing sample
recall_score(y_test,y_pred,average='macro')

0.6860380116959064

In [ ]:
#f1_score of testing sample
f1_score(y_test,y_pred,average='macro')

0.7001456328806682

In [ ]:
#precision of testing sample
precision_score(y_test,y_pred,average='macro')

0.8444101947222014

In [ ]:
#accuracy of training sample
accuracy_score(y_train,y_pred2)

0.7961038961038961

In [ ]:
#recall of training sample
recall_score(y_train,y_pred2,average='macro')

0.6821804234090785

In [ ]:
#f1_score of training sample
f1_score(y_train,y_pred2,average='macro')

0.7030743800028982

In [ ]:
#precision of training sample
precision_score(y_train,y_pred2,average='macro')

0.8526785714285714

In [ ]:
TP=0
TN=0
FP=0
FN=0
y_test=np.array(y_test).reshape(-1,1)
for i in range(len(y_pred)):
    if(y_test[i]==1 and y_pred[i]==1):
        TP=TP+1
    if(y_test[i]==1 and y_pred[i]==0):
        FN=FN+1
    if(y_test[i]==0 and y_pred[i]==1):
        FP=FP+1
    if(y_test[i]==0 and y_pred[i]==0):
        TN=TN+1
print(TP,TN,FP,FN)

88 426 6 140